include resume-mixins.pug

#main
  #title
    h1 Sammy Al Hashemi
    .subtitle Aspiring Software Engineer

  .main-block
    h2 #[i.fa.fa-suitcase] Experiences
    
    +item("Device Characterization Engineering Intern", "Microsemi Corp.", "San Jose, CA", "2017", "2018")
      include:markdown-it(html=true) Markdown/microsemi.md
        
    +item("Undergraduate Researcher", "University of Toronto", "Toronto, On", "2015", "2016")
      include:markdown-it(html=true) Markdown/Research.md
        
  .main-block
    h2 #[i.fa.fa-folder-open] Projects 
    
    +item("Thesis", "Ed. Rogers School of Electrical and Computer Engineering", null, "2018", "2019")
      include:markdown-it(html=true) Markdown/Thesis.md
        
    // +item("Data Charter", null, null, null)
      include:markdown-it(html=true) Markdown/charter.md
        
    +item("Dashcam Speed Visualizer", null, null, null)
      include:markdown-it(html=true) Markdown/dashcam_project.md

    +item("ATPscraper API", null, null, null)
      include:markdown-it(html=true) Markdown/atp_scraper.md
 
  .main-block.concise
    h2 #[i.fa.fa-graduation-cap] Education
    
    // +item("Squire Training", "Castle Black", "North",  "Sn 1", "Sn 3")
      .description Made the bed, folded the towels, listened a lot.
    
    +item("University of Toronto")
      .concise
        :markdown-it
          #### cGPA: 3.52 - graduated with honours
          - Bachelor of Applied Science and Engineering 
          - Department of Engineering Science (major in Physics)

#sidebar(style={'font-size': '0.55em'})
  #contact.side-block
    h1 Contact Info
    ul
      li #[i.fa.fa-globe]  sammyalhashemi.com
      li #[i.fab.fa-linkedin] /in/sammyalhashemi
      li #[i.fa.fa-envelope] sammyalhashemi1@outlook.com
      li #[i.fab.fa-github] github.com/Sammyalhashe
      li #[i.fa.fa-phone] 647.463.2638
      
  #skills.side-block
    h1 Software Skills
    ul
      // li #[i.fab.fa-python] Python
      li Python
      li Flask
      li TensorFlow/Keras
      li openCV
    ul
      li Angular
      // li #[i.fab.fa-angular] Angular
      // li #[i.fab.fa-node-js] nodeJS/ExpressJS
      li nodeJS/ExpressJS
    ul
      // li #[i.fab.fa-java] Java
      li Java
      li go
    ul
      li Docker
      li Firebase

    h1 Hardware Skills
    ul
      // li #[i.fas.fa-hdd] Verilog
      li Verilog
  #skills.side-block
    h1 Courses Taken
    ul
      li Data structures and algorithms
      li Foundations of Computing
      li Numerical methods in python
      li Machine learning and data mining


  #skills.side-block
    h1 Interests/Hobbies
    ul
      li Tennis
      li Soccer
      li Basketball
      // li Midnight walks

  //- This points to mnjul's original resume project
  // #disclaimer.side-block.
      This résumé was wholly typeset with HTML/CSS — see code git.io/vVSYL

style
  include resume.scss
